@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.details-header {
    background: #FFFFFF;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px;
    .profile {
        display: flex;
        height: 120px;
        align-items: center;
        @include mobile {
            display: block;
            margin: 0 auto;
            height: fit-content;
        }
        .img-wrapper {
            @include mobile {
                display: flex;
                justify-content: center;
                
            }
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin-right: 15px;
                @include mobile {
                    width: 150px;
                    height: 150px;
                    margin-right: 0;
                }
            }

        }
        .name-acc {
            @include mobile {
                text-align: center;
            }
            .name {
                font-weight: 500;
                font-size: 22px;
                color: #213F7D;
            }
            .acc {
                font-weight: 400;
                font-size: 14px;
            }
        }
        .user-tier {
            border-right: 2px solid #e6dedec7;
            border-left: 2px solid #e6dedec7;
            display: flex;
            height: 50%;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
            padding: 0 20px;
            @include mobile {
                margin: 10px 5px;
                padding: 0 5px;
                border: none;
            }

            .wrapper {
                margin: auto;
                p {
                    font-weight: 500;
                    font-size: 15px;
                    color: #545F7D;
                }
                .rating {
                    display: flex;
                    justify-content: center;
                    .star {
                        height: 14px;
                        width: 15px;
                    }
                }
            }
        }
        .account-balance {
            color: #213F7D;
            .balance {
                font-weight: 500;
                font-size: 22px;
                text-align: center;
            }
            .bank {
                font-weight: 400;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    .profile-links {
        margin-top: 35px;
        margin: 35px auto 0;
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                list-style: none;
                width: 150px;
                text-align: center;
                padding: 5px 0;
                cursor: pointer;
                @include mobile {
                    width: 130px;
                }

                &:hover {
                    color: #39CDCC;
                    border-bottom: 2px solid #39CDCC;
                }
            }
            .active {
                color: #39CDCC;
                border-bottom: 2px solid #39CDCC;
            }
        }
    }
}