@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.layout {
    .sidebar-outlet {
        display: flex;

        .sidebar-container {
            min-width: 20%;

            @include mobile {
                position: absolute;
                min-width: 80%;
            }
            
            @include tab {
                min-width: 30%;
            }
        }
        .outlet {
            min-width: 70%;
            margin: 90px auto 10px;
            padding: 50px;

            @include mobile {
                padding: 60px 20px;
            }
            
        }
    }
}