@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}


.navbar {
    background-color: #fff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    position: fixed;
    width: 100%;
    z-index: 10;
    @include mobile {
        padding-bottom: 10px;
    }

    .navbar-wrapper {
        display: flex;
        width: 95%;
        height: 95px;
        @include mobile {
            height: 80px;
        }
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .logo-search {
            display: flex;
            width: 55%;
            @include mobile {
                width: 47%;
            }
            justify-content: space-between;

            .bar {
                display: none;
                @include mobile {
                    display: block;
                }
            }
            .lg-search-input {
                display: block;
                @include mobile {
                   display: none;
                }
            }
            
        }
        .profile {
            display: flex;
            height: 100%;
            align-items: center;

            .docs {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                @include mobile {
                    font-size: 12px;
                }
                text-decoration: underline;
                cursor: pointer;
            }
            .bell {
                width: 19px;
                @include mobile {
                    width: 17px;
                }
                padding: 0 8px;
            }
            .avatar{
                width: 35px;
                border-radius: 50%;
                object-fit: cover;
            }
            .adedeji {
                padding: 0 7px;
                cursor: pointer;
            }
        }
    }
    .sm-search-input {
        display: none;
        
        @include mobile {
            display: block;
        }
    }
}