@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin gridstyle($num) {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat($num, 1fr);
    gap: 30px;
}

.category-info {
    p {
        font-weight: 500;
        font-size: 16px;
        color: #213F7D;
    }
    .five {
        @include gridstyle(5);
        @include tab {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        .mapped-info {
            
            .title {
                font-weight: 400;
                font-size: 12px;
            }
            .answer {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .four {
        @include gridstyle(4);
        @include tab {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        .mapped-info {
    
            .title {
                font-weight: 400;
                font-size: 12px;
            }
    
            .answer {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

}