@import "../../variables/variables";

@mixin tab {
    @media (max-width: $tab) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin links($bg-color) {
    list-style: none;
    display: flex;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    color: #213F7D;
    background-color: $bg-color;
}


.sidebar {

    .cancel-wrapper {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin: 15px 0;
        
        
        .cancel {
            
            width: 20px;
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
    
    .sidebar-wrapper {
        padding: 5px 0;
        font-family: 'Work Sans', sans-serif;
        .switch-org {
            display: flex;
            padding: 10px 0 20px 20px;
            
            span {
                padding: 0 5px;
                font-size: 16px;
            }
        }
        .dashboard {
            display: flex;
            padding: 5px 0 5px 20px;
            span {
                padding: 0 5px;
                font-size: 16px;
            }
        }
        ul {
            p {
                padding: 20px 0 15px 20px;
                font-size: 12px;
                color: #545f7d;
            }
            .active {
                @include links(#f3fcfc);
                border-left: 3px solid #39CDCC;
                li {
                    padding: 5px 0 5px 20px;
                    span {
                        padding: 0 5px;
                        font-size: 16px;
                        @include mobile {
                            padding: 0 5px;
                            font-size: 18px;
                        }
                    }
                }
            }
            .not-active {
                @include links(#fff);
                li {
                    padding: 5px 0 5px 20px;
                    span {
                        padding: 0 5px;
                        font-size: 16px;
                        @include mobile {
                            padding: 0 5px;
                            font-size: 18px;
                            }
                    }
                }

                &:hover {
                    border-left: 3px solid #39CDCC;
                    background-color: #f3fcfc;
                }
            }
        }
        hr {
            margin: 50px 0 20px;
            color: #213F7D;
            opacity: 0.1;
        }
        .logout-link {
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            .logout {
                display: flex;
                cursor: pointer;
                padding-left: 20px;
                span {
                    margin-left: 4px;
                }
    
            }
        }
        p {
            font-weight: 400;
            font-size: 12px;
            margin-top: 40px;
            @include mobile {
                padding-bottom: 100px;
            }
            padding-left: 20px;
        }
    }
}